.bodyHome {
	background-color: #0f1011;
	font-family: 'GT Walsheim Pro';
	color: #e6e6e6;
}

.allVideogamesContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* .homeTitle {
	text-align: center;
	cursor: default;
} */

.logo {
	display: flex;
	justify-content: center;
}

.logo img {
	width: 200px;
}
