.rawg {
	display: flex;
	color: #e6e6e6;
}

.button {
	background-color: #1abc9c;
	color: #1a1a1a;
	border-radius: 12px;
	border: 0;
	box-sizing: border-box;
	width: fit-content;
	padding: 0 25px;
	height: 40px;
	margin-left: 10%;
	margin-top: 2%;
	outline: 0;
	font-family: 'GT Walsheim Pro';
	font-size: 20px;
	box-shadow: inset 0 0 6px #0f1011;
	cursor: pointer;
}

.button:hover {
	background: #28e2bc;
}

.rawgText {
	margin-left: 5%;

	margin-right: 50px;
	font-family: 'GT Walsheim Pro';
}

.rawgText h1 {
	font-size: xxx-large;
}

.rawgText h2 {
	font-size: xx-large;
}

.rawgImg {
	margin-top: -3%;
}

.buttonsAPI {
	background-color: #1abc9c;
	color: #1a1a1a;
	border-radius: 12px;
	border: 0;
	box-sizing: border-box;
	width: fit-content;
	padding: 0 10px;
	height: 40px;
	margin-left: 1rem;
	margin-top: 1rem;
	outline: 0;
	font-family: 'GT Walsheim Pro';
	font-size: 16px;
	box-shadow: inset 0 0 6px #0f1011;
	cursor: pointer;
}

.buttonsAPI:hover {
	background: #28e2bc;
}
